<?xml version="1.0" ?>
<config>
    <repositories>
        <!-- Customize this part but don't delete -->
        <installer>
            <symfony>
                <source>github.com/symfony/symfony.git</source>
                <target>vendor/symfony</target>
                <revision type="branch">v2.0.1</revision>
            </symfony>
            <monolog>
                <source>github.com/Seldaek/monolog.git</source>
                <target>vendor/monolog</target>
                <revision type="branch">1.0.1</revision>
            </monolog>
            <swiftmailer>
                <source>github.com/swiftmailer/swiftmailer.git</source>
                <target>vendor/swiftmailer</target>
                <revision type="branch">v4.1.1</revision>
            </swiftmailer>
            <assetic>
                <source>github.com/kriswallsmith/assetic.git</source>
                <target>vendor/assetic</target>
                <revision type="branch">v1.0.1</revision>
            </assetic>
            <asseticbundle>
                <source>github.com/symfony/AsseticBundle.git</source>
                <target>vendor/bundles/Symfony/Bundle/AsseticBundle</target>
                <revision type="branch">v1.0.0</revision>
            </asseticbundle>
            <twig>
                <source>github.com/fabpot/Twig.git</source>
                <target>vendor/twig</target>
                <revision type="branch">v1.1.2</revision>
            </twig>
            <twigextensions>
                <source>github.com/fabpot/Twig-extensions.git</source>
                <target>vendor/twig-extensions</target>
                <revision type="branch">master</revision>
            </twigextensions>
            <doctrine>
                <source>github.com/doctrine/doctrine2.git</source>
                <target>vendor/doctrine</target>
                <revision type="tag">2.1.1</revision>
            </doctrine>
            <doctrinedbal>
                <source>github.com/doctrine/dbal.git</source>
                <target>vendor/doctrine-dbal</target>
                <revision type="tag">2.1.1</revision>
            </doctrinedbal>
            <doctrinedatafixtures>
                <source>github.com/doctrine/data-fixtures.git</source>
                <target>vendor/doctrine-data-fixtures</target>
                <revision type="branch">master</revision>
            </doctrinedatafixtures>
            <doctrinedatafixturesbundle>
                <source>github.com/symfony/DoctrineFixturesBundle.git</source>
                <target>vendor/bundles/Symfony/Bundle/DoctrineFixturesBundle</target>
                <revision type="branch">master</revision>
            </doctrinedatafixturesbundle>
            <doctrinemigrations>
                <source>github.com/doctrine/migrations.git</source>
                <target>vendor/doctrine-migrations</target>
                <revision type="branch">master</revision>
            </doctrinemigrations>
            <doctrinemigrationsbundle>
                <source>github.com/symfony/DoctrineMigrationsBundle.git</source>
                <target>vendor/bundles/Symfony/Bundle/DoctrineMigrationsBundle</target>
                <revision type="branch">master</revision>
            </doctrinemigrationsbundle>
            <doctrinecommon>
                <source>github.com/doctrine/common.git</source>
                <target>vendor/doctrine-common</target>
                <revision type="branch">2.1.1</revision>
            </doctrinecommon>
            <doctrinemongodb>
                <source>github.com/doctrine/mongodb.git</source>
                <target>vendor/doctrine-mongodb</target>
                <revision type="branch">master</revision>
            </doctrinemongodb>
            <doctrinemongodbodm>
                <source>github.com/doctrine/mongodb-odm.git</source>
                <target>vendor/doctrine-mongodb-odm</target>
                <revision type="branch">master</revision>
            </doctrinemongodbodm>
            <doctrinemongodbbundle>
                <source>github.com/symfony/DoctrineMongoDBBundle.git</source>
                <target>vendor/bundles/Symfony/Bundle/DoctrineMongoDBBundle</target>
                <revision type="branch">master</revision>
            </doctrinemongodbbundle>
            <propelbundle>
                <source>github.com/propelorm/PropelBundle.git</source>
                <target>vendor/bundles/Propel/PropelBundle</target>
                <revision type="branch">master</revision>
            </propelbundle>
            <phing>
                <source>github.com/Xosofox/phing.git</source>
                <target>vendor/phing</target>
                <revision type="branch">master</revision>
            </phing>
            <propel>
                <source>github.com/propelorm/Propel.git</source>
                <target>vendor/propel</target>
                <revision type="branch">master</revision>
            </propel>
            <mandango>
                <source>github.com/mandango/mandango.git</source>
                <target>vendor/mandango</target>
                <revision type="branch">master</revision>
            </mandango>
            <mondator>
                <source>github.com/mandango/mondator.git</source>
                <target>vendor/mondator</target>
                <revision type="branch">master</revision>
            </mondator>
            <mandangobundle>
                <source>github.com/mandango/MandangoBundle.git</source>
                <target>vendor/bundles/Mandango/MandangoBundle</target>
                <revision type="branch">master</revision>
            </mandangobundle>
            <metadata>
                <source>github.com/schmittjoh/metadata.git</source>
                <target>vendor/metadata</target>
                <revision type="branch">1.0.0</revision>
            </metadata>
        </installer>
        
        <!-- Add your custom repository here -->
        <!--
        <user>
            <FOSUserBundle>
                <source>github.com/FriendsOfSymfony/UserBundle.git</source>
                <target>vendor/bundles/FOS/UserBundle</target>
                <revision type="branch">master</revision>
            </FOSUserBundle>
        </user>
        -->
    </repositories>

    <bundles>
        <!-- Customize this part but don't delete -->
        <installer>
            <framework>
                <name>Framework</name>
                <namespace>Symfony\Bundle\FrameworkBundle</namespace>
            </framework>
            <monolog>
                <name>Monolog</name>
                <namespace>Symfony\Bundle\MonologBundle</namespace>
            </monolog>
            <twig>
                <name>Twig</name>
                <namespace>Symfony\Bundle\TwigBundle</namespace>
            </twig>
            <swiftmailer>
                <name>Swiftmailer</name>
                <namespace>Symfony\Bundle\SwiftmailerBundle</namespace>
            </swiftmailer>
            <assetic>
                <name>Assetic</name>
                <namespace>Symfony\Bundle\AsseticBundle</namespace>
            </assetic>
            <doctrine>
                <name>Doctrine</name>
                <namespace>Symfony\Bundle\DoctrineBundle</namespace>
            </doctrine>
            <doctrinemigrations>
                <name>DoctrineMigrations</name>
                <namespace>Symfony\Bundle\DoctrineMigrationsBundle</namespace>
            </doctrinemigrations>
            <doctrinefixtures>
                <name>DoctrineFixtures</name>
                <namespace>Symfony\Bundle\DoctrineFixturesBundle</namespace>
            </doctrinefixtures>
            <propel>
                <name>Propel</name>
                <namespace>Propel\PropelBundle</namespace>
            </propel>
            <doctrinemongodb>
                <name>DoctrineMongoDB</name>
                <namespace>Symfony\Bundle\DoctrineMongoDBBundle</namespace>
            </doctrinemongodb>
            <mandangobundle>
                <name>Mandango</name>
                <namespace>Mandango\MandangoBundle</namespace>
            </mandangobundle>
        </installer>

        <!-- Add your custom bundle here -->
        <!--
        <user>
            <SymfonySecurity>
                <name>Security</name>
                <namespace>Symfony\Bundle\SecurityBundle</namespace>
                <config><![CDATA[
#Security
security:
    providers:
        fos_userbundle:
            id: fos_user.user_manager
    firewalls:
        main:
            form_login:
                provider: fos_userbundle]]></config>
            </SymfonySecurity>
            <FOSUserBundle>
                <name>FOSUser</name>
                <namespace>FOS\UserBundle</namespace>
                <config><![CDATA[
fos_user:
    db_driver: orm
    provider_key: fos_userbundle
    class:
        model:
            user: MyProject\MyBundle\Entity\User
            group: FOS\UserBundle\Entity\DefaultGroup]]></config>
            </FOSUserBundle>
        </user>
        -->
    </bundles>

    <namespaces>
        <!-- Customize this part but don't delete -->
        <installer>
            <symfony>
                <name>Symfony</name>
                <path>vendor/symfony/src</path>
                <path>vendor/bundles</path>
            </symfony>
            <doctrinedatafixtures>
                <name>Doctrine\Common\DataFixtures</name>
                <path>vendor/doctrine-data-fixtures/lib</path>
            </doctrinedatafixtures>
            <doctrinecommon>
                <name>Doctrine\Common</name>
                <path>vendor/doctrine-common/lib</path>
            </doctrinecommon>
            <doctrinemigrations>
                <name>Doctrine\DBAL\Migrations</name>
                <path>vendor/doctrine-migrations/lib</path>
            </doctrinemigrations>
            <doctrinemongodb>
                <name>Doctrine\MongoDB</name>
                <path>vendor/doctrine-mongodb/lib</path>
            </doctrinemongodb>
            <doctrinemongodbodm>
                <name>Doctrine\ODM\MongoDB</name>
                <path>vendor/doctrine-mongodb-odm/lib</path>
            </doctrinemongodbodm>
            <doctrinedbal>
                <name>Doctrine\DBAL</name>
                <path>vendor/doctrine-dbal/lib</path>
            </doctrinedbal>
            <doctrine>
                <name>Doctrine</name>
                <path>vendor/doctrine/lib</path>
            </doctrine>
            <propel>
                <name>Propel</name>
                <path>vendor/bundles</path>
            </propel>
            <assetic>
                <name>Assetic</name>
                <path>vendor/assetic/src</path>
            </assetic>
            <monolog>
                <name>Monolog</name>
                <path>vendor/monolog/src</path>
            </monolog>
            <mandangobundle>
                <name>Mandango\MandangoBundle</name>
                <path>vendor/bundles</path>
            </mandangobundle>
            <mondator>
                <name>Mondator</name>
                <path>vendor/mondator/src</path>
            </mondator>
            <mandango>
                <name>Mandango</name>
                <path>vendor/mondator/src</path>
            </mandango>
            <mandangomodel>
                <name>Model</name>
                <path>src</path>
            </mandangomodel>
        </installer>
        
        <!-- Add your custom namespace here -->
        <!--
        <user>
            <FOSUserBundle>
                <name>FOS</name>
                <path>vendor/bundles</path>
            </FOSUserBundle>
        </user>
        -->
    </namespaces>

    <!-- Customize this part but don't delete -->
    <prefixes>
        <installer>
            <twigextensions>
                <name>Twig_Extensions</name>
                <path>vendor/twig-extensions/lib</path>
            </twigextensions>
            <twig>
                <name>Twig</name>
                <path>vendor/twig/lib</path>
            </twig>
        </installer>
        
        <!-- Add your custom prefix here -->
        <!--
        <user>
            <...>
                <name>...</name>
                <path>...</path>
            </...>
        </user>
        -->
    </prefixes>
</config>
